@import url('https://fonts.googleapis.com/css2?family=Island+Moments&family=Montserrat:wght@100;300;400;600;700&family=Open+Sans:ital@0;1&family=Oswald:wght@400;700&family=Roboto:wght@400;700&display=swap');


*{
    box-sizing: border-box; /*todos os elementos dessa pagina vai ter esse estilo aplicado*/
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.main{
    background-color: #5e77de;
    
    
}
.container{
    max-width: 1070px;
    margin: auto;
    color: black;
}
header{
    padding-top: 45px;
    
}
header img{
    height: 50px;
    width: 50px;
}
.heroArea{
    display: flex;
}
.heroArea .leftside h1{
    font-size: 42px;
    line-height: 50px;
    font-weight: bold; /*negrito*/
    margin:  80px 0 30px 0;
}
.heroArea .leftside .subtitle{
    font-size: 16px;
    line-height: 23px;
    margin-bottom: 30px;
}
.heroArea .leftside .form {
    margin-bottom: 30px;
    
}

.heroArea .leftside .form input{
    border:  1px solid #D8D8D8;
    background: transparent;
    height: 40px;
    outline: none;
    color: black;
    font-size: 14px;
    width: 300px;
    padding: 0 10px;
}
.heroArea .leftside .form button{
    height: 40px;
    border: 0;
    background-color: blue;
    color: white;
    font-size: 14px;
    padding: 0 20px;
    margin-left: 10px;
}
.heroArea .leftside .techs{
    margin-bottom: 80px;
}
.heroArea .leftside .techs img{
    margin-right: 10px;
    height: 50px;
    width: 50px;
}
.heroArea .leftside{
    flex: 1;
}
.heroArea .rightside{
    flex: 1;
    background-size: 100% auto;
}
.rightside{
    background: url('../imagens/img-figma.png');
    
}